<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qyl.mapper.UserMapper">
    <!--<cache type="com.qyl.cache.RedisCache" />-->

    <select id="selectUserByName" parameterType="java.lang.String" resultType="User">
        select user_id, username, password, phone, avatar, create_time
        from user
        where username = #{username} limit 1;
    </select>

    <select id="selectUserByPhone" parameterType="java.lang.String" resultType="User">
        select user_id, username, password, phone, avatar, create_time
        from user
        where phone = #{phone} limit 1;
    </select>

    <select id="selectUserById" parameterType="java.lang.Integer" resultType="User">
        select user_id, username, password, phone, create_time
        from user
        where user_id = #{userId} limit 1;
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        insert into user
        values (#{userId}, #{username}, #{password}, #{phone}, #{avatar}, #{createTime});
    </insert>
</mapper>